# Ignore .idea directory
.idea/

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/
ENV/
.venv/
.ENV/
.env

# Ignore data files
*.csv
*.tsv
*.log
*.txt

# Ignore system files
.DS_Store
Thumbs.db

# Ignore other common files
*.swp
*.swo
